<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'clients/css/style.css' %}">
</head>
  <body>
  <nav>
    <ul>
      <li><h3><button onclick="location.href='{% url 'clients:client_list' %}'">Клиенты</button></h3></li>
      <li><h3><button onclick="location.href='{% url 'clients:client_create' %}'">Добавить клиента</button></h3></li>
      <li><h3><button onclick="location.href='{% url 'clients:client_search' %}'">Поиск клиента</button></h3></li>
    </ul>
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
  </body>
</html>